# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/
data/

# Tests
.pytest_cache/
htmlcov/
.coverage

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp

# Docker
Dockerfile*
docker-compose*
